<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container">
        <h1>Create Users</h1>
     
        <form method="POST" action="/birds">
         <div class="form-group">
           <label for="User">Username</label>
           <input type="text" class="form-control" id="User" placeholder="Enter Users Name" name="User">
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>
      
       </div>

    <% include ./partials/scripts %>
  </body>
</html>