<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header', {title: 'Birds'}); %>
  </head>
  
  <body>
    <% include ./partials/navbar %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
</body>
</html>