<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is where We will Track Feedings!</p>

    <% include ./partials/scripts %>
  </body>
</html>