<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <div class="container">

    <h1><%= title %></h1>
    <p>Welcome to the PSU Nature Reach Feeding Application.</p>
    <% if (locals.user) { %>
    <p>Hello, <%= locals.user.firstName %>.</p>
    <%}%>
    
  </div>

    <% include ./partials/scripts %>
  </body>
</html>