<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <% include ./partials/navbar %>

    <div class="container">
        <h1>Medicine</h1>
     
        <a href="/create" class="btn btn-primary">+ Add Medicine</a>
       
       </div>

    <% include ./partials/scripts %>
  </body>
</html>