<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">
        <h1>Create Food</h1>
     
        <form method="POST" action="./food/food">
         <div class="form-group">
           <label for="Food">Food Name</label>
           <input type="text" class="form-control" id="Food" placeholder="Enter Food Name" name="Food">
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>
      
       </div>

    <% include ../partials/scripts %>
  </body>
</html>