<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
        <h1>Medicine</h1>
     
        <a href="/settings/meds/create" class="btn btn-primary">+ Add Medicine</a>
        <h2>Display medicines here</h2>
       
       </div>

    <% include ../partials/scripts %>
  </body>
</html>