<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <div class="container">
        <h1>Create Users</h1>
     
        <form method="POST" action="/settings/users">
          <div class="form-group">
            <label for="species">First Name</label>
            <input type="text" class="form-control" id="species" placeholder="Enter First Name" name="firstName">
          </div>
          <div class="form-group">
            <label for="nickName">Last Name</label>
            <input type="text" class="form-control" id="nickName" placeholder="Enter Last Name" name="lastName">
          </div>
          <div class="form-group">
            <label for="species">Email</label>
            <input type="text" class="form-control" id="species" placeholder="Enter Email" name="email">
          </div>
          <div class="form-group">
            <label for="nickName">Pasword</label>
            <input type="text" class="form-control" id="nickName" placeholder="Enter Password" name="password">
          </div>
          <div>
            <label>Role</label>
                <select required class="form-control" name="role">
                    <option value=""></option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
          </div>
          <br>
          <div>
         <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       </form>
      
       </div>

    <% include ../partials/scripts %>
  </body>
</html>