<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
        <h1>Users Page</h1>
     
        <a href="/settings/users/create" class="btn btn-primary">+ Create User</a>

        <h2>Display users here</h2>
       
       </div>

    <% include ../partials/scripts %>
  </body>
</html>