<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
        <h1>Users Page</h1>
     
        <a href="/users/create" class="btn btn-primary">+ Create User</a>

        <table id="usersTable" class="table table-bordered table-striped">

          <thead>
            <tr>
              <td>Email</td>
              <td>First</td>
              <td>Last</td>
              <td>Role</td>
              <td>Actions</td>
            </tr>
          </thead>
          
        </table>
       
       </div>

    <% include ../partials/scripts %>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#usersTable').DataTable({
          responsive: true
        });
      });
    </script>
  </body>
</html>