<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <div class="container">
        <h1>Users Page</h1>
     
        <a href="/settings/users/create" class="btn btn-primary">+ Create User</a>

        <P>place Users here</P>
       
       </div>

    <% include ../partials/scripts %>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#usersTable').DataTable({
          responsive: true
        });
      });
    </script>
  </body>
</html>